on post-fs && property:ro.product.device=karna
    mount none /dev/null /system/app/NfcNci/NfcNci.apk bind

on post-fs && property:ro.boot.hwc=India
    mount none /dev/null /system/app/NfcNci/NfcNci.apk bind

on post-fs && property:ro.boot.hwc=India_PA
    mount none /dev/null /system/app/NfcNci/NfcNci.apk bind
    
on property:vendor.post_boot.parsed=1  
# Enable ZRAM on boot_complete
    rm /data/unencrypted/zram_swap
    swapon_all /vendor/etc/fstab.qcom
    write /proc/sys/vm/swappiness 50
